{% extends "base.html.twig" %}

{% block title %}Admin{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        function deleteCookie(){
            document.cookie = "wineGameCookie=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
            window.location.replace("{{ url('app_choseWineGame') }}");
        }
    </script>
{% endblock %}

{% block body %}
    <div class="container mt-3" style="min-height: 100vh;">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        {{ form_start(form) }}
        <h1>Piloter mon objet</h1>
        <div class="row mt-3">
            <div class="col-12 col-md-6 mb-3">
                {{ form_label(form.wineGameName, 'Nom de votre Wine Game') }}
                {{ form_widget(form.wineGameName, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.wineGameName) }}
            </div>
            <div class="col-12 col-md-6 mb-3">
                {{ form_label(form.music, 'Sur la bouteille : Musique à jouer') }}
                {{ form_widget(form.music, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.music) }}
            </div>
            <div class="col-12 col-md-6 mb-3">
                {{ form_label(form.temperature, 'Sur la bouteille : Température de déclenchement') }}
                {{ form_widget(form.temperature, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.temperature) }}
            </div>
            <div class="col-12 col-md-6 mb-3">
                {{ form_label(form.bottleCode, 'Sur la bouteille : Code à afficher (4 chiffres)') }}
                {{ form_widget(form.bottleCode, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.bottleCode) }}
            </div>
            <div class="col-12 col-md-6 mb-3">
                {{ form_label(form.userCodeName, "Sur appli mobile : Texte au dessus du code à rentrer (ex: Entrez un code à 4 chiffres.)") }}
                {{ form_widget(form.userCodeName, {'attr': {'class': 'form-control', 'style': 'height: 37.6px;'}}) }}
                {{ form_errors(form.userCodeName) }}
            </div>
            <div class="col-12 col-md-6 mb-3">
                {{ form_label(form.userCode, "Sur appli mobile : Code utilisateur") }}
                {{ form_widget(form.userCode, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.userCode) }}
            </div>
            <div class="col-12 col-md-6 mb-3">
                {{ form_label(form.adminCode, "Sur appli mobile : Code administateur") }}
                {{ form_widget(form.adminCode, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.adminCode) }}
            </div>
            <div class="col-12 mb-3">
                {{ form_label(form.hint, "Sur appli mobile : Indice") }}
                {{ form_widget(form.hint, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.hint) }}
            </div>
            <div class="col-12 mt-3 mb-3">
                <button type="submit" class="btn btn-info w-100 mb-2">Enregistrer les modifications</button>
                <a class="btn btn-dark w-100 mb-2" href="{{ url('app_activateBottle', { id: wineGame.id }) }}">Activer la bouteille</a>
                <a class="btn btn-dark w-100 mb-2" href="{{ url('app_activatePadlock', { id: wineGame.id }) }}">{% if wineGame.padlockIsOpen %}Reprendre le comportement normal du cadenas{% else %}Ouvrir le cadenas{% endif %}</a>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
    <nav class="navbar bg-dark sticky-bottom">
        <form class="container-fluid">
            <button class="btn btn-outline-danger" onclick="deleteCookie()">Changer d'objet</button>
            <a class="btn btn-outline-warning" href="{{ url('app_index') }}">Retour au code</a>
        </form>
    </nav>
{% endblock %}