{% extends 'base.html.twig' %}

{% block title %}WineGame{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/connexion.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="fe-form-container-container">
        <div class="fe-form-container">
            {% for message in app.flashes('error') %}
                <div class="alert alert-danger mt-2">
                    {{ message }}
                </div>
            {% endfor %}
            {{ form_start(form) }}
                <h1 class="h3 mb-3 font-weight-normal text-center">Bienvenue !</h1>
                {{ form_label(form.enter) }}
                {{ form_widget(form.enter, {'attr': {'class': 'form-control mb-5 mt-3'}}) }}
                {{ form_errors(form.enter) }}
                <button class="btn btn-lg btn-info d-block m-auto" type="submit">Valider</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
